@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

@theme {
  --font-instrument: "Instrument Sans", sans-serif;

  --radius-0: 0px;
  --radius-1: 2px;
  --radius-2: 4px;
  --radius-3: 8px;
  --radius-4: 12px;
  --radius-5: 16px;
  --radius-6: 24px;
  --radius-7: 32px;
  --radius-circle: 999px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #0d0d0d;
  color: #ffffff;
}

@theme inline{
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
 
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; 
  }
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-mobile {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  animation: scroll-marquee 25s linear infinite;
  will-change: transform;
  transform: translateZ(0);
}

.marquee-mobile.reverse {
  animation: scroll-marquee 25s linear infinite reverse;
}

.pause-marquee .marquee-mobile {
  animation-play-state: paused;
}

.web-display-2 {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: -0.02em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}

.web-display-2-gradient {
  background-image: linear-gradient(90deg, #FBD3A7 0%, #FB7185 25%, #EC4899 50%, #C026D3 75%, #9333EA 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 140% 100%;
  background-position: left center;
}

.web-callout {
font-family: "Inter";
font-weight: 400;
font-style: normal;
font-size: 14px;
line-height: 23px;
letter-spacing: 0;
color: #A3A3A3;
}

.web-title-1 {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0;
  color: #FFFFFF;
  vertical-align: middle;
}






