@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@import "./lib/styles/generated/primitives.css";
@import "./lib/styles/generated/light.css";
@import "./lib/styles/generated/dark.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xl: 90rem;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

body.dark {
  background: #050505;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

/* v1 - Typography Utilities */
@utility web-headline {
  font-family: "Inter", sans-serif;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 24px !important;
  letter-spacing: 0;
}

@utility web-subheadline {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01em;
}

@utility web-title-1 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: -0.02em;
}

@utility web-large-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 38px;
  letter-spacing: -0.02em;
}

@utility web-title-2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0;
}

@utility web-title-3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

@utility web-body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

@utility web-caption {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

@utility web-footnote {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@utility web-callout {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
}

@utility web-display-1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

@utility web-display-2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.04em;
}

@utility mobile-body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
}

@utility mobile-caption {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

@utility mobile-title-1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
}

@utility mobile-title-3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0;
}

@utility mobile-title-2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
}

@utility mobile-display-1 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
}

@utility mobile-large-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.02em;
}

@utility mobile-headline {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

@utility mobile-subheadline {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.01em;
}

@utility mobile-footnote {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@utility mobile-callout {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
}

/*  */
@utility h1 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@utility h2 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@utility h3 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@utility h4 {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@utility primary-body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

@utility primary-body-semibold {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

@utility information-label {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input#default-checkbox {
  accent-color: #0f172a !important;
  color: #0f172a !important;
  border-color: #0f172a !important;
}

body.dark input:-webkit-autofill,
body.dark textarea:-webkit-autofill,
body.dark select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #171717 inset !important;
  box-shadow: 0 0 0px 1000px #171717 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

body.dark input:-webkit-autofill::first-line {
  color: #ffffff !important;
}

body.dark input:-webkit-autofill:focus,
body.dark textarea:-webkit-autofill:focus,
body.dark select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #171717 inset !important;
  box-shadow: 0 0 0px 1000px #171717 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

body.dark input:-moz-autofill {
  box-shadow: 0 0 0px 1000px #171717 inset !important;
  -moz-text-fill-color: #ffffff !important;
}

.build-trigger {
  display: none;
}
